# **HOF Predictions of Current MLB Players**

The purpose of this file is to generate HOF predictions for current MLB players. I will do so by completing the following tasks:

* Loading the data (cleaned and prepared in R)
* Partitioning the data into training and validation
  * Oversampling the response variable `inducted` (binary Y/N)
* Testing different binary classification models
* Evaluating models and selecting the best one

Questions:
* Select single best model or summarize predictions of all models tested?
  * e.g. Mike Trout was predicted to make the HOF in 7/8 models
  * A: Single best model and make predictions
* Where in the process to implement SMOTE oversampling?
  * A: Right before fitting the model
* Github as a medium for blog/results?
  * A: Perfect!

# **1) Load the data**

In [ ]:
import pandas as pd

# Read in the training/validation data
df = pd.read_csv('/content/drive/MyDrive/Academics/MSBA/ISA 630/Final Project/train.csv')

In [ ]:
# View the first 5 observations of the data frame
df.head()

,Unnamed: 0,playerID,LOS,recent_year,G,AB,R,H,X2B,X3B,...,SB,CS,SO,BB,IBB,HBP,SH,SF,GIDP,inducted
0,1,aaronha01,23,1976,143.391304,537.565217,94.521739,163.956522,27.130435,4.260870,...,10.434783,3.173913,60.130435,60.956522,12.782609,1.391304,0.913043,5.260870,14.260870,Y
1,2,aaronto01,7,1971,62.428571,134.857143,14.571429,30.857143,6.000000,0.857143,...,1.285714,1.142857,20.714286,12.285714,0.428571,0.000000,1.285714,0.857143,5.142857,N
2,3,abbated01,8,1910,103.375000,367.750000,43.250000,93.500000,11.875000,5.375000,...,17.250000,1.000000,33.250000,35.125000,1.000000,4.000000,11.375000,1.000000,3.000000,N
3,4,abbotfr01,3,1905,53.333333,171.000000,16.000000,35.666667,7.000000,2.000000,...,4.666667,1.000000,25.000000,6.333333,1.000000,2.666667,6.666667,1.000000,3.000000,N
4,5,abbotje01,5,2001,46.600000,119.200000,16.400000,31.400000,6.600000,0.400000,...,1.200000,1.000000,18.200000,7.600000,0.400000,0.600000,1.000000,1.400000,2.400000,N

In [ ]:
# View the dimensions of the data frame
df.shape

(5813, 22)

# **2) Partition the data into training and validation subsets**

In [ ]:
# Create the X and y vectors
import numpy as np

X = df.drop(['inducted', 'Unnamed: 0', 'playerID', 'recent_year', 'LOS'], axis = 1)
X = np.array(X)

y = df['inducted'].map(dict(Y = 1, N = 0))

In [ ]:
# SMOTE Oversampling
from imblearn.over_sampling import SMOTE

oversample = SMOTE(random_state = 630)
X, y = oversample.fit_resample(X, y)

In [ ]:
# Partition the data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 630)

In [ ]:
X_train.shape

(9059, 17)

In [ ]:
X_test.shape

(2265, 17)

In [ ]:
y_train.shape

(9059,)

In [ ]:
y_test.shape

(2265,)

# **3) Build classifier algorithms on training and validation data**

The algorithms we will test in this project are:
* Logistic Regression
* Decision Tree
* Random Forest
* AdaBoost
* XGBoost
* Multilayer-Perceptron Neural Network

### **Logistic Regression**

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(solver = 'liblinear')

In [ ]:
## .fit method here on the training data
lr.fit(X_train, y_train)

## .predict to check how we do on the training and testing data
yhat_lr_train = lr.predict(X_train)
yhat_lr_test = lr.predict(X_test)

## Performance Metrics
from sklearn.metrics import accuracy_score, roc_auc_score

auc_train_logistic = roc_auc_score(y_train, yhat_lr_train)
auc_test_logistic = roc_auc_score(y_test, yhat_lr_test)
acc_train_logistic = accuracy_score(y_train, yhat_lr_train)
acc_test_logistic = accuracy_score(y_test, yhat_lr_test)

print(f'              Metrics Log. Reg                ')
print(f'_________________________________________________\n')
print(f'Training AUC: {auc_train_logistic}')
print(f'Test AUC: {auc_test_logistic}')
print(f'Training Accuracy: {acc_train_logistic}')
print(f'Test Accuracy: {acc_test_logistic}')
print(f'_________________________________________________\n')

              Metrics Log. Reg
_________________________________________________

Training AUC: 0.8901800212298888
Test AUC: 0.8851622244538979
Training Accuracy: 0.890164477315377
Test Accuracy: 0.8852097130242825
_________________________________________________

### **Decision Tree**

In [ ]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(criterion = 'entropy')

In [ ]:
## .fit method here on the training data
tree.fit(X_train, y_train)

## .predict to check how we do on the training and testing data
yhat_tree_train = tree.predict(X_train)
yhat_tree_test = tree.predict(X_test)

## Performance Metrics
from sklearn.metrics import accuracy_score, roc_auc_score

auc_train_tree = roc_auc_score(y_train, yhat_tree_train)
auc_test_tree = roc_auc_score(y_test, yhat_tree_test)
acc_train_tree = accuracy_score(y_train, yhat_tree_train)
acc_test_tree = accuracy_score(y_test, yhat_tree_test)

print(f'              Metrics Tree                ')
print(f'_________________________________________________\n')
print(f'Training AUC: {auc_train_tree}')
print(f'Test AUC: {auc_test_tree}')
print(f'Training Accuracy: {acc_train_tree}')
print(f'Test Accuracy: {acc_test_tree}')
print(f'_________________________________________________\n')

              Metrics Tree
_________________________________________________

Training AUC: 1.0
Test AUC: 0.9704505264536734
Training Accuracy: 1.0
Test Accuracy: 0.9704194260485651
_________________________________________________

### **Random Forest**

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)

In [ ]:
## .fit method here on the training data
rf.fit(X_train, y_train)

## .predict to check how we do on the training and testing data
yhat_rf_train = rf.predict(X_train)
yhat_rf_test = rf.predict(X_test)

## Performance Metrics
from sklearn.metrics import accuracy_score, roc_auc_score

auc_train_rf = roc_auc_score(y_train, yhat_rf_train)
auc_test_rf = roc_auc_score(y_test, yhat_rf_test)
acc_train_rf = accuracy_score(y_train, yhat_rf_train)
acc_test_rf = accuracy_score(y_test, yhat_rf_test)

print(f'              Metrics Rforest                ')
print(f'_________________________________________________\n')
print(f'Training AUC: {auc_train_rf}')
print(f'Test AUC: {auc_test_rf}')
print(f'Training Accuracy: {acc_train_rf}')
print(f'Test Accuracy: {acc_test_rf}')
print(f'_________________________________________________\n')

              Metrics Rforest
_________________________________________________

Training AUC: 1.0
Test AUC: 0.9850242954627678
Training Accuracy: 1.0
Test Accuracy: 0.9849889624724062
_________________________________________________

### **AdaBoost**

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier 
ada = AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=2), n_estimators=200)

In [ ]:
## .fit method here on the training data
ada.fit(X_train, y_train)

## .predict to check how we do on the training and testing data
yhat_ada_train = ada.predict(X_train)
yhat_ada_test = ada.predict(X_test)

## Performance Metrics
from sklearn.metrics import accuracy_score, roc_auc_score

auc_train_ada = roc_auc_score(y_train, yhat_ada_train)
auc_test_ada = roc_auc_score(y_test, yhat_ada_test)
acc_train_ada = accuracy_score(y_train, yhat_ada_train)
acc_test_ada = accuracy_score(y_test, yhat_ada_test)

print(f'              Metrics Ada Boost             ')
print(f'_________________________________________________\n')
print(f'Training AUC: {auc_train_ada}')
print(f'Test AUC: {auc_test_ada}')
print(f'Training Accuracy: {acc_train_ada}')
print(f'Test Accuracy: {acc_test_ada}')
print(f'_________________________________________________\n')

              Metrics Ada Boost
_________________________________________________

Training AUC: 1.0
Test AUC: 0.9819323937424369
Training Accuracy: 1.0
Test Accuracy: 0.9818984547461369
_________________________________________________

### **XGBoost**

In [ ]:
from xgboost import XGBClassifier
xgb = XGBClassifier()

In [ ]:
## .fit method here on the training data
xgb.fit(X_train, y_train)

## .predict to check how we do on the training and testing data
yhat_xgb_train = xgb.predict(X_train)
yhat_xgb_test = xgb.predict(X_test)

## Performance Metrics
from sklearn.metrics import accuracy_score, roc_auc_score

auc_train_xgb = roc_auc_score(y_train, yhat_xgb_train)
auc_test_xgb = roc_auc_score(y_test, yhat_xgb_test)
acc_train_xgb = accuracy_score(y_train, yhat_xgb_train)
acc_test_xgb = accuracy_score(y_test, yhat_xgb_test)

print(f'              Metrics Ada Boost             ')
print(f'_________________________________________________\n')
print(f'Training AUC: {auc_train_xgb}')
print(f'Test AUC: {auc_test_xgb}')
print(f'Training Accuracy: {acc_train_xgb}')
print(f'Test Accuracy: {acc_test_xgb}')
print(f'_________________________________________________\n')

              Metrics Ada Boost
_________________________________________________

Training AUC: 0.9732703533443898
Test AUC: 0.9620987662021732
Training Accuracy: 0.97328623468374
Test Accuracy: 0.9620309050772627
_________________________________________________

### **Multilayer-Perceptron Neural Network**

In [ ]:
from sklearn.neural_network import MLPClassifier
nn = MLPClassifier(activation = 'logistic')

In [ ]:
## .fit method here on the training data
nn.fit(X_train, y_train)

## .predict to check how we do on the training and testing data
yhat_nn_train = nn.predict(X_train)
yhat_nn_test = nn.predict(X_test)

## Performance Metrics
from sklearn.metrics import accuracy_score, roc_auc_score

auc_train_nn = roc_auc_score(y_train, yhat_nn_train)
auc_test_nn = roc_auc_score(y_test, yhat_nn_test)
acc_train_nn = accuracy_score(y_train, yhat_nn_train)
acc_test_nn = accuracy_score(y_test, yhat_nn_test)

print(f'              Metrics Neural Network             ')
print(f'_________________________________________________\n')
print(f'Training AUC: {auc_train_nn}')
print(f'Test AUC: {auc_test_nn}')
print(f'Training Accuracy: {acc_train_nn}')
print(f'Test Accuracy: {acc_test_nn}')
print(f'_________________________________________________\n')

              Metrics Neural Network
_________________________________________________

Training AUC: 0.9856412624501875
Test AUC: 0.9792997355256428
Training Accuracy: 0.985649630202009
Test Accuracy: 0.9792494481236204
_________________________________________________

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

### **Visualize Model Comparison**

In [ ]:
pd.DataFrame([[auc_train_logistic, acc_train_logistic, auc_test_logistic, acc_test_logistic],
  [auc_train_tree, acc_train_tree, auc_test_tree, acc_test_tree],
  [auc_train_rf, acc_train_rf, auc_test_rf, acc_test_rf],
  [auc_train_ada, acc_train_ada, auc_test_ada, acc_test_ada],
  [auc_train_xgb, acc_train_xgb, auc_test_xgb, acc_test_xgb],
  [auc_train_nn, acc_train_nn, auc_test_nn, acc_test_nn]], 
  index = ['Logistic Regression', 'Decision Tree', 'Random Forest', 'AdaBoost', 'XGBoost', 'MLP Neural Network'], 
  columns = ['AUC Train', 'Accuracy Train', 'AUC Test', 'Accuracy Test'])

                     AUC Train  Accuracy Train  AUC Test  Accuracy Test
Logistic Regression   0.890180        0.890164  0.885162       0.885210
Decision Tree         1.000000        1.000000  0.970451       0.970419
Random Forest         1.000000        1.000000  0.985024       0.984989
AdaBoost              1.000000        1.000000  0.981932       0.981898
XGBoost               0.973270        0.973286  0.962099       0.962031
MLP Neural Network    0.985641        0.985650  0.979300       0.979249

# **4) Apply best model(s) to the test data set**

In [ ]:
# Load the test data set
test = pd.read_csv('/content/drive/MyDrive/Academics/MSBA/ISA 630/Final Project/test.csv')
test.head()

,Unnamed: 0,playerID,LOS,recent_year,G,AB,R,H,X2B,X3B,...,RBI,SB,CS,SO,BB,IBB,HBP,SH,SF,GIDP
0,13,abreujo02,8,2021,139.125,544.125000,76.50,157.75,32.875000,2.000000,...,98.500000,1.375000,0.625,122.250000,40.500000,6.75,13.125000,0.000000,5.625000,18.500000
1,18,acunaro01,4,2021,98.750,379.000000,80.75,106.50,19.500000,1.750000,...,61.500000,19.500000,5.250,114.000000,52.000000,2.50,7.000000,0.000000,2.250000,3.750000
2,20,adamecr01,5,2019,35.200,65.600000,6.40,14.00,1.800000,0.800000,...,4.400000,0.400000,0.800,15.400000,6.000000,0.20,1.000000,0.800000,0.000000,1.200000
3,21,adamewi01,5,2021,86.200,300.200000,43.60,78.60,15.800000,0.600000,...,36.400000,3.400000,2.400,95.600000,30.800000,1.00,0.800000,0.800000,0.800000,5.600000
4,28,adamsla01,3,2018,39.000,45.666667,10.00,12.00,1.666667,0.333333,...,8.666667,3.666667,0.000,15.666667,4.666667,0.00,0.333333,0.333333,0.333333,1.333333

In [ ]:
# Create the X vector
X2 = test.drop(['Unnamed: 0', 'playerID', 'recent_year', 'LOS'], axis = 1)
X2 = np.array(X2)

In [ ]:
# Generate predictions on the test data set
# Using AdaBoost
preds = rf.predict(X2)

In [ ]:
len(preds)

864

In [ ]:
# Display the predictions
preds

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0])

In [ ]:
# Append the predictions to the test playerID's
submission = pd.DataFrame({'Player' : test['playerID'],
                          'HOF' : preds})

In [ ]:
# Display the results
submission

        Player  HOF
0    abreujo02    0
1    acunaro01    0
2    adamecr01    0
3    adamewi01    0
4    adamsla01    0
..         ...  ...
859  zavalse01    0
860  zimmebr01    0
861  zimmery01    0
862  zobribe01    0
863  zuninmi01    0

[864 rows x 2 columns]